<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Cnblogs source" value="https://nuget.cnblogs.com/v3/index.json" />
    <add key="NuGet source" value="https://api.nuget.org/v3/index.json" />
    <add key="Huawei source" value="https://repo.huaweicloud.com/repository/nuget/v3/index.json" />
    <add key="Tencent source" value="https://mirrors.cloud.tencent.com/nuget/" />
  </packageSources>
</configuration>